@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #FFFFFF;
  --navbar-background: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FFFFFF;
    --background: #212E37;
    --navbar-background: #2B3743;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
